
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, big, cite, code,
del, dfn, em, img, small, strong, sub, sup, b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-size: 1.5rem;
	line-height: 1;
}

header.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #ffd100;  /*  ffd100*/
    
    padding: 10px 10px 0px 10px;
} 

.brand{
    
    font-family: 'Kaushan Script', cursive;
    /* display: flex; */
    border: #000000;
    border-radius: 50px;
    background-color: #ff6d2d;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 900;
    font-size: 1.5rem;

}

.navigation, ul{
    
    display: flex;
    padding-right: 15px;
   
}
.navItems {
    display: inline-block;
    padding-left: 10px;
    
    
}

.navItems a{
    display: flex;
    align-self: baseline;
    /* border: #000000 2px solid; */
    border-radius: 5px;
    margin-top: 7px;
    padding: 8px;
    font-family: 'Istok Web';
    font-weight: 600;
    font-size: 1rem;
    /* font-weight: bold; */
    color: #000000;
    text-decoration: none;
}

.navItems a:hover , .navItems.active a{
    background-color: #ff6d2d;
    color: white;
    transform:  scale(1.1);
    transition-timing-function: ease;
}

.banner{
   
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1543352634-99a5d50ae78e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.banner h2{
    font-size: 8rem;
    padding: 20px;
    margin-bottom: 50px;
    text-shadow: 4px 2px 4px #272626;  /*  rgba(231, 117, 11, 0.808) */
    font-family: 'Kaushan Script', cursive;
    color: #fa5508;
    z-index: 1;
}
.banner .search{
    padding: 9px;
    background-color: rgb(255, 255, 246);
    
    box-shadow: #ffd0007c 15px;
    border-radius: 15px;
}

.banner input.search, .banner input.search:focus, .banner input.search:active{
    font-size: 1rem;
    width: 300px;
    height: 35px;
    padding: 15px;
    border: none;
    /* border: #2b2b2b 2px solid; */
    background: transparent;
    border-radius: 7px;
}
.banner select, .banner select:focus{
    font-size: 1rem;
    width: 150px;
    border: none;
    height: 34px;
    background: transparent;
    padding: 5px;
    /* border: none;
    border: #2b2b2b 2px solid;
    border-radius: 5px; */
}
 */
.banner .order{
    font-size: 25px;
    
    text-decoration: none;
    border: none;
}

.banner .order:hover{
    background-color: rgb(248, 211, 0);

}   

.catagories{
    width: 100%;
    /* height: 160vh; */
    background-color: rgb(29, 28, 28);
    padding-top: 80px;

}

.card{
    border-radius: 25px;
    width: 10vw;
    /* height: 15rem;  */
    background-color: rgb(29, 28, 28);
    border: none;

}

.card:hover{
    transform: scale(1.05);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    
    
}
.card-img-overlay{
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 14rem; */
    /* text-align: center; */
    margin-right: 50px;
    display: none;


}
.card-title{
    
    font-size: 45px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.993);
    font-family: 'Istok Web';


}

.cardImage[src]{
    width: 22rem;
    height: 15rem;
    border-radius: 35px;

}
.cata{
   
    padding-top: 4rem;
    font-size: 4rem; 
    font-weight: lighter;
    font-family: 'Istok Web';
    
    color: #ff6600;


}
.login-box:hover > .login-text{
    width: 90px;


}

.login-box{
    margin-top: 0.55rem;
    position: relative;
    bottom: 9px;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    color: white;
    align-items: center;
    padding-bottom: 20px;
}

.login-btn{
    /* margin-top: 0.55rem; */
    color: #2f3640;
    border-radius: 50px;
    float: right;
    text-decoration: none;
}
.far{
    float: right;

}

.login-text{
    color: #2f3640;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
    float: left;
    outline: none;
    transition: 0.4s;
    width: 0; 
    font-size: 1rem;
    font-family: 'Istok Web';
    font-weight: 600; 
}

