
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
a:visited{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
body {
    font-size: 1.5rem;
	line-height: 1;
}

header.navigation{
    display: flex;
    justify-content: space-between;
    background: rgb(40, 40, 40); 
    font-size: 1.5rem;
    padding: 10px 10px 0px 10px;
} 

.brand{
    margin-left: 40px;
    user-select: none;
    font-family: 'Kaushan Script', cursive;
    border: #000000;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    font-weight: 900;
    font-size: 1.5rem;
    

}

.brand.large{
    font-size: 50px;
}

.brand a{
    text-decoration: none;
    color: #fff;
    
}
.hunt{
    color: #ff6d2d;
}

.navigation ul{
    
    display: flex;
    padding-right: 45px;
   
}
.navItems {
    display: inline-block;
    padding-left: 10px;
    
    
}

.navItems a{
    display: flex;
    align-self: baseline;
    /* border: #000000 2px solid; */
    border-radius: 5px;
    margin-top: 7px;
    padding: 8px;
    font-family: 'Istok Web';
    font-weight: 600;
    font-size: 1rem;
    /* font-weight: bold; */
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navItems a:hover , .navItems.active a{
    /* background-color: #ff6d2d; */
    color: #ffffff;
    transform:  scale(1.1);
    transition-timing-function: ease;
}
.navItems.active a{
    background-color: #ff6d2d;
    transform:  scale(1.1);
    transition-timing-function: ease;
    
}
.login-box:hover > .login-text{
    width: 60px;


}

.login-box{
    margin-top: 0.55rem;
    position: relative;
    bottom: 9px;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    color: rgb(255,255,255);
    align-items: center;
    padding-bottom: 20px;
    /* text-decoration: none; */
}

.login-btn{
    margin-top: 0.1rem;
    color: rgb(255,255,255);
    border-radius: 50px;
    float: right;
    text-decoration: none;
}
.far{
    float: right;
    
}
.far:hover{
    color: rgb(250, 239, 239);
    transform:  scale(1.1);
    transition-timing-function: ease;
}

.login-text{
    
    color: rgb(0, 0, 0);
    padding: 0;
    overflow: hidden;
    float: left;
    margin-top: 5.5px;
    outline: none;
    transition: 0.4s;
    width: 0; 
    font-size: 1rem;
    font-family: 'Istok Web';
    font-weight: 600; 
}
.login-box .login-text{
    
    text-decoration: none;
}
.login-text:hover{
    /* background-color: #ff6d2d; */
    color: rgb(255, 255, 255);
    transform:  scale(1.1);
    transition-timing-function: ease;
}
.banner{
   
    width: 100%;
    background-image: linear-gradient( rgba(48, 45, 45, 0.24) , rgba(48, 45, 45, 0.4)), url("https://images.unsplash.com/photo-1543352634-99a5d50ae78e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-position: center;
    /* position: relative; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.banner h2{
    cursor: pointer;
    font-size: 8rem;
    padding: 20px;
    margin-bottom: 50px;
    text-shadow: 4px 2px 4px rgb(0, 0, 0);  /*  rgba(231, 117, 11, 0.808) */
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.banner h2 span{
    
    color: #ff6600;
   
}
.banner .search{
    padding: 9px;
    background-color: rgb(255, 255, 246);
    
    box-shadow: #ffd0007c 15px;
    border-radius: 15px;
}

.banner input.search, .banner input.search:focus, .banner input.search:active{
    font-size: 1rem;
    width: 300px;
    height: 40px;
    padding: 10px;
    border: none;
    /* border: #2b2b2b 2px solid; */
    background: transparent;
    border-radius: 7px;
}
.banner select, .banner select:focus{
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    width: 150px;
    border: none;
    height: 34px;
    background: transparent;
    padding: 5px;
    /* border: none;
    border: #2b2b2b 2px solid;
    border-radius: 5px; */
}
 
.banner .order{
    font-size: 25px;
    text-decoration: none;
    border: none;
}

.banner .order:hover{
    background-color: rgb(248, 211, 0);

}   


/* ==================================modal login======================= */



.modals{
    
    width: 495px;
    height: 600px;
    position: relative;
    margin: 0% auto;
    background-color: aliceblue;
    border-radius: 15px;
    overflow: hidden;
    font-family: sans-serif;
}
.modTitle{
    width: 330px;
    margin: 6% auto;
     
}
.modTitle .tablets{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: baseline;
}
.hr{
    padding: 3px;
    width: 28%;

}
.tablets .sign{
    text-decoration: none;
    padding: 7px;

}
.sign{
    /* user-select: none; */
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;

}
.tablets .active{
    font-size: 2.1rem;
    color: #ff6d2d;

}

.tablets a:active{
    padding-left: 10px;
 
}
.tablets a:hover{
  
    color: #ff6d2d;
}



.icons{
    display: flex;
    margin: 2rem 6rem;
    justify-content: space-around;
    
}


.icons img{
    user-select: none;
    width: 43px;
    border: 1px solid white;
    border-radius: 360px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    
}

.icons img:hover{
    transform: scale(1.2);
}
.icons hr{
    display: flex;
    width: 25%;
    height: 15%;
    
}

#regiForm{
    display: none;
}

.or .cond{
    display: flex;
    font-size: 20px;
    font-weight:500;
    justify-content: center;
}
.Data{
    display: block;
    text-align: center;
    text-decoration: none;
}
.Data .form{
    color: #000000;
    text-decoration: none;
    user-select: none;
   font-size: x-large;
   font-weight: 600;
   margin: 1% auto;
   /* margin-top: 12px; */
    
}


.bar{
    width: 20rem;
    height: 2.5rem;

    border-style: none;
    border: 3px solid black;
    border-radius: 7px;
}
.bar:hover{
    /* /* width: 21rem; */
    height: 2.5rem;
    /* box-shadow: 2px 2px 15px rgba(125, 238, 125, 0.774); */
    /* border: 4px solid rgb(60, 255, 0);  */
    /* background-color: rgb(226, 255, 235); */
    /* transform: scale(1.1); */
    transition-timing-function: ease;

}

.submit{
    display: flex;
    margin: 6% auto;
}

/* ==========================categories================================== */
.categories{
    padding: 50px 20px 50px 20px;
}
.category-head{
    text-align: center;
}
.category-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.category-block{
    background-color: #000000;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 20px;
    transition: all .3s ease;

}

.block-name{
    transition: all .3s ease-in-out;
    width:100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;    
    justify-content: center;
    visibility: hidden;
}
.category-block:hover{
    transform: scale(1.2);   
}
.category-block:hover .block-name{
    visibility: visible;
}

.block1{
    background: url(../images/category/burgers.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block2{
    background: url(../images/category/pizzas.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block3{
    background: url(../images/category/icecream.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block4{
    background: url(../images/category/coffee.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block5{
    background: url(../images/category/meat.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.block6{
    background: url(../images/category/stews.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}






/* =================================WHy============================ */

.why{
    padding: 20px;
    background-color: #2b1e16;
    color: azure;
    
}

.why-img img{
    width: 22%;
}

.why-row{
    padding: 20px;
    margin: 20px;
}
.why-info{
    padding: 10px;
}
.sfd{
    transform: translate(0px, 25px);
}

.sfd2{
    transform: translate(0px, 10px);
}
.why-block{

}

/* ==========================services========================= */

#services{
    padding: 80px 80px 30px 80px ;
    text-align: center;

}
#services .service-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .service-body .meal-type:nth-child(4) img{
    width: 60px;    
}
#services p
{
    font-size: 20px;
    width: 80%;
    
}

#services .service-body{
    padding: 30px 10px;
    
}

#services .service-body h2,
{
    padding: 20px;
    
}

.meal-type{
    padding: 10px;
    /* border: 1px #2b2d42 solid; */
    /* margin: 15px; */
}
.meal-type .s-info p{
    font-size: 10px;
}

.meal-type .s-head img{
    transform: scale(1);
}

.meal-type:hover .s-head img{
    transform:;

}
#services img{
    padding: 10px 0;
}

#services .meal-type:hover {
    background-color: #adb5bd;
}

/* =========================location=========================== */
.locations{
    background:  linear-gradient(to right,#7ed56faa, #28b485aa), url(../images/locationbammer2.jpg);
    padding: 30px;
    padding-bottom: 80px;
}
.location-head{
    text-align: center;
}

ul{
    list-style: none;
}

.location-item{
    padding: 25px 50px;
}

/* ======================================footer====================== */
footer{
background-color: #000000;
color: #ffffff;
padding: 5px;
overflow: hidden;

}
.footerlink{
    padding: 15px 0;
    width: 90%;
}

.link-block{
    padding: 0;
    padding-top: 50px;
}

.social-media{
    height: 150px;
}