html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, big, cite, code,
del, dfn, em, img, small, strong, sub, sup, b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    line-height: 1;
}

a{
    text-decoration: none;

}
.nav, .nav ul{
    display: flex;
    justify-content: space-between;
}

.nav ul{
    margin-right: 50px;
}


header{
    padding: 10px;
    background: #2b2b2b ;
    position: fixed;
    width: 100vw;
}

.brand a{
    font-size: 2rem;
    margin-left: 30px;
    color: #e6c229;   
}
.nav ul li a{
    list-style-type: none;
    padding: 10px;
    margin-left: 5px;
    color: #9ba4b4;
}

.main{
    height: 100vh;
    background: url('./home.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}
